* {
  color: white;
  font-weight: 600;
}

.top-gradient {
  background: linear-gradient(to right, #212121 0%, #acacac 20%, #212121 100%);
}

.bottom-gradient {
  background: linear-gradient(to right, #212121 0%, #acacac 80%, #212121 100%);
}

.contributions-container {
  /* display: flex;
  flex-wrap: wrap;  */
}

.contribution-item {
  display: inline;
  position: relative;
  /* border: red solid; */
}

.thread-tooltip {
  /* border: green solid; */
  position: absolute;
  z-index: 1000;
  /* margin: auto; */
  left: 50%;
  transform: translateX(-50%);
}