<div class="sidebar" [class.active]="isActive">
  <div class="menu-btn" (click)="toggleSidebar()">
    <i class="fa-solid fa-angle-left"></i>
  </div>
  <div class="head" (click)="reload()">
    <div class="logo">
      <img src="logos/talethread_logo.png" alt=""/>
    </div>
    <div class="heading">
      <p>TaleThread</p>
    </div>
  </div>
  <div class="nav">
    <div class="menu">
      <ul>
        <li [ngClass]="{ 'active': activeButton === 'profile' }" (click)="handleActiveButton('profile')">
          <a [routerLink]="['/profile']">
            <i class="fa-regular fa-user" style="color: #ffffff"></i>
            <span class="text">Profile</span>
          </a>
        </li>
        <li [ngClass]="{ 'active': activeButton === 'threads' }" (click)="handleActiveButton('threads')">
          <a [routerLink]="['/threads']">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
            <span class="text">Threads</span>
          </a>
        </li>
        <li [ngClass]="{ 'active': activeButton === 'create' }" (click)="handleActiveButton('create')">
          <a [routerLink]="['/create']">
            <i class="fa-solid fa-pencil" style="color: #ffffff"></i>
            <span class="text">Create</span>
          </a>
        </li>
        <li [ngClass]="{ 'active': activeButton === 'saved' }" (click)="handleActiveButton('saved')">
          <a [routerLink]="['/saved']">
            <i class="fa-regular fa-folder-open" style="color: #ffffff"></i>
            <span class="text">Saved</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="logout">
      <ul>
        <li class="active" (click)="handleLogout()">
          <a>
            <i class="fa-solid fa-right-from-bracket" style="color: #ffffff"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
