@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.landing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    color: #fff;
    overflow: hidden;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    background: transparent;
    border-radius: 15px;
    padding: 40px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

.text {
    margin-bottom: 30px;
}

.text h1 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 10px;
    background: linear-gradient(270deg, #ff00ff, #00ffff, #66ff66, #ff00ff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 15s ease infinite;
}

.text h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.text p {
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    --white: #ffffff;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.1) 100%);
    color: var(--white);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

.btn:nth-child(1) {
    animation-delay: 0.5s;
}

.btn:nth-child(2) {
    animation-delay: 0.75s;
}

.btn:hover {
    color: #ffffff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(255, 255, 255, 0.2);
}

.btn:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
}

.btn:hover:before {
    transform: translateX(15em);
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ring {
    position: absolute;
    bottom: -800px;
    right: -600px;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 10s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 8s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 14s linear infinite;
}

.ring2 {
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 2000px;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}
.ring2 i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.ring2 i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 13s linear infinite;
}
.ring2 i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 11s linear infinite;
}
.ring2 i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 17s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
