<div class="landing-body">
  <div class="content">
      <div class="text">
          <h1>Welcome to TaleThread</h1>
          <h2>Bind Imaginations</h2>
          <p>Join our community and start collaborating on amazing stories and poems. Share your ideas, contribute to threads, and make new friends!</p>
      </div>
      <div class="buttons">
          <button class="btn" (click)="sendForward()" >Login</button>
          <button class="btn" (click)="sendForward()">Signup</button>
      </div>
  </div>

  <div class="ring">
      <i></i>
      <i></i>
      <i></i>
  </div>

  <div class="ring2">
      <i></i>
      <i></i>
      <i></i>
  </div>
</div>

