<div class="friends-list">
  <h2>Friends List</h2>
  <ul>
    @for (friend of friends; track $index) {
      <li>
        <div class="friend-card">
          <img src="https://via.placeholder.com/50" alt="John Doe's profile picture" />
          <div class="friend-info">
            <h3>{{friend.username}}</h3>
          </div>
          <div class="friend-actions">
            <button class="view-profile-btn" (click)="setElseUsername(friend.username)">Profile</button>
            <button class="remove-friend-btn">Remove</button>
          </div>
        </div>
      </li>
    }
  </ul>
</div>
