<div id="overlay"></div>
<div id="popup">
    <div class="flex flex-row justify-between mb-7">
        <div class="flex flex-col">
            <h1 class="text-3xl">{{ thread.title }}</h1>
            <h1 class="text-md">{{ thread.description }}</h1>
            <p class="text-xl text-[#87cfebc1]">&#64;{{ thread.owner }}</p>
        </div>
        <i class="fa-solid fa-times text-red-500 text-xl hover:cursor-pointer" (click)="emitHideAddContributionPopup(thread.id)"></i>
    </div>
    <!-- contributions -->
    <h1>Current thread:</h1>
    <div class="contributions-container mt-2">
        <div *ngFor="let contribution of thread.contributions; trackBy: trackById" class="contribution-item">
            <span class="hover:text-green-300 cursor-pointer transition"
              (mouseenter)="showTooltip(contribution)"
              (mouseleave)="hideTooltip(contribution)"
              (click)="pinTooltip(contribution)">
              {{contribution.content}}
            </span>
            <app-contribution-tooltip
              *ngIf="tooltipVisibleMap[contribution.id]"
              class="thread-tooltip"
              [author]="contribution.user"
              [contributionDateTime]="contribution.updated_at"
              [parentFormatFunction]="formatDateTime"
              [likes]="contribution.upvotes"
              [dislikes]="contribution.downvotes"
              [contribution_id]="contribution.id"
              [thread_id]="contribution.thread"
              [tooltipVisibleMap]="tooltipVisibleMap">
            </app-contribution-tooltip>
        </div>
    </div>

    <!-- textbox -->
    <div class="flex flex-row justify-between mt-10">
      <h1 class="">Your contribution:</h1>

      <div class="flex flex-row items-center gap-2">
        <p class="text-sm">Feeling stuck?</p>
        <div class="p-1 rounded-md bg-gray-700 flex flex-row w-fit gap-1 h-fit hover:cursor-pointer hover:opacity-90 transition" (click)="getAIRecommendation(thread.id)">
          <img src="icons/sparkles.svg" width="15rem" height="15rem" alt="">
          <span class="text-sm">Generate idea</span>
        </div>
      </div>
    </div>
    
    <div class="textbox-container mt-2 mb-1">
      <div *ngIf="ai_loading" class="overlay bg-black opacity-50 z-40"></div>
      <textarea
        id="contribution-textbox"
        class="w-full h-40 p-2 rounded-md"
        placeholder="Write your contribution here..."
        [(ngModel)]="contributionContent"
        (input)="onInput($event)">
      </textarea>
  
      <div *ngIf="ai_loading" class="item z-50">
        <i class="loader --7"></i>
      </div>
    </div>
  
    <div class="flex flex-row justify-between">
      <p class="text-sm">{{ remainingWords }} words remaining</p>
      <div class="rounded-md p-2 bg-[#0e471f] flex flex-row gap-2 items-center hover:cursor-pointer hover:opacity-90 transition" (click)="writeContribution()">
        <img src="logos/contribution_logo.svg" alt="send" class="w-4 h-4">
        <span>Write contribution</span>
      </div>
    </div>




</div>
